<header class="master-header">
  <div class="master-header-wrapper">
    <div class="heading">
      <h1><a href="/">{{@blog.title}}</a></h1>
    </div>
    <nav>
      <ul>
        {{navigation}}
      </ul>
    </nav>
  </div>
</header>

{{!-- {{#if @labs.subscribers}}
    <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
{{else}}
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
{{/if}} --}}
