{{!-- {{!< default}} --}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{!-- {{#if @blog.masterHeader}}
<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
{{/if}} --}}

{{!-- The big featured header --}}
{{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>

    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header> --}}

{{!-- The main content area on the homepage --}}
  <section class="masthead">
    <h2 class="masthead--header"><span class="masthead--name">Taurean</span> <span class="masthead--phonetic-spelling">tour-ē-en</span> • <span class="masthead--part-of-speech">noun</span></h2>
    <p class="definition">Design generalist & aspiring front-end dev.</p>
    <h3 class="etymology-header">Etymology</h3>
    <p class="etymology-text">East African in origin. <strong>Tau</strong> roughly translates to ‘lion’, and <strong>ean</strong> to ‘son of’.</p>
  </section>
