{{!-- {{!< default}} --}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{!-- {{#if @blog.masterHeader}}
<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
{{/if}} --}}

{{!-- The big featured header --}}
{{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>

    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header> --}}

{{!-- The main content area on the homepage --}}
<main class="landing-content">
<section class="masthead">
  <h2 class="etymology-header">Definition</h3>
  <p class="masthead--header"><span class="masthead--name">Taurean</span> <span class="masthead--phonetic-spelling">tour-ē-en</span> • <span class="masthead--part-of-speech">noun</span></p>
  <p class="definition">Design generalist & aspiring front-end dev.</p>
  <h2 class="etymology-header">Etymology</h3>
  <p class="etymology-text">East African in origin. <strong>Tau</strong> roughly translates to ‘lion’, and <strong>ean</strong> to ‘son of’.</p>
</section>

<section class="featured-writing">
{{#get "posts" include="date,url" filter="tags:writing" limit="4"}}


{{#foreach posts}}
<article class="writing-card">


{{!-- <picture class="picture-set">
<!-- [if IE 9]><video style="display: none;"><![endif] -->
<source srcset="http://t-bryant.imagefly.io/w_700,h_500,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3 1x, http://t-bryant.imagefly.io/w_1440,h_1000,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3 2x" media="(max-width: 680px)">


<source srcset="http://t-bryant.imagefly.io/w_350,h_600,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3 1x, http://t-bryant.imagefly.io/w_700,h_1200,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3 2x">
<!--[if IE 9]></video><![endif]-->
<img srcset="http://t-bryant.imagefly.io/w_640,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3" alt="Featured Image">
<noscript><img src="http://t-bryant.imagefly.io/w_640,q_90,f_jpeg,s_none/https://hd.unsplash.com/photo-1451337516015-6b6e9a44a8a3" alt="Featured Image"></noscript>
</picture> --}}


<picture class="picture-set">
<!-- [if IE 9]><video style="display: none;"><![endif] -->
<source srcset="http://t-bryant.imagefly.io/w_700,h_500,q_90,f_jpeg,s_none/{{image absolute="true"}} 1x, http://t-bryant.imagefly.io/w_1440,h_1000,q_90,f_jpeg,s_none/{{image absolute="true"}} 2x" media="(max-width: 680px)">


<source srcset="http://t-bryant.imagefly.io/w_350,h_600,q_90,f_jpeg,s_none/{{image absolute="true"}} 1x, http://t-bryant.imagefly.io/w_700,h_1200,q_90,f_jpeg,s_none/{{image absolute="true"}} 2x">
<!--[if IE 9]></video><![endif]-->
<img srcset="http://t-bryant.imagefly.io/w_350,h_600,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Featured Image">
<noscript><img src="http://t-bryant.imagefly.io/w_350,h_600,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Featured Image"></noscript>
</picture>


<div class="card-content">
<h2 class="card-content--title">{{title}}</h2>
<h3 class="card-content--date">{{date}}</h3>
<a href="../{{slug}}" class="btn read-more-btn">Read More <span class="right-arrow">&#8594;</span></a>
</div>

</article>
{{/foreach}}

{{/get}}
</section>

<h2 class="featured-work-header">Featured Work</h2>
<section class="featured-work featured-work--home">
{{#get "posts" include="date,url" filter="tags:workstudy" limit="2"}}
    {{#foreach posts}}

      <a href="../{{slug}}" class="work-thumb work-thumb--featured">
        <figcaption class="work-thumb-title">{{title}}</figcaption>
        <figure class="work-thumb-img">
          {{!-- <img src="{{image absolute="true"}}" alt="thumb"> --}}

          <picture>
            <!-- [if IE 9]><video style="display: none;"><![endif] -->
            <source srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}} 1x, http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/{{image absolute="true"}} 2x" media="(max-width: 720px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Case Study Thumbnail">
            <noscript><img src="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Case Study Thumbnail"></noscript>
          </picture>


          {{!-- <picture>
            <!-- [if IE 9]><video style="display: none;"><![endif] -->
            <source srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/http://t-bryant.com/content/images/2016/08/masthead.png 1x, http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/http://t-bryant.com/content/images/2016/08/masthead.png 2x" media="(max-width: 720px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/http://t-bryant.com/content/images/2016/08/masthead.png" alt="Case Study Thumbnail">
            <noscript><img src="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/http://t-bryant.com/content/images/2016/08/masthead.png" alt="Case Study Thumbnail"></noscript>
          </picture> --}}
        </figure>
      </a>

    {{/foreach}}
{{/get}}

</section>




</main>
