
{{!< default}}
<section class="featured-work">
{{#get "posts" include="date,url" filter="tags:workstudy"}}
    {{#foreach posts}}

      <a href="../{{slug}}" class="work-thumb">
        <figcaption class="work-thumb-title">{{title}}</figcaption>
        <figure class="work-thumb-img">
          {{!-- <img src="{{image absolute="true"}}" alt="thumb"> --}}

          <picture>
            <!-- [if IE 9]><video style="display: none;"><![endif] -->
            <source srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}} 1x, http://t-bryant.imagefly.io/w_1440,q_90,f_jpeg,s_none/{{image absolute="true"}} 2x" media="(max-width: 720px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Case Study Thumbnail">
            <noscript><img src="http://t-bryant.imagefly.io/w_720,q_90,f_jpeg,s_none/{{image absolute="true"}}" alt="Case Study Thumbnail"></noscript>
          </picture>
        </figure>
      </a>

    {{/foreach}}
{{/get}}

</section>
