{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}



{{#has tag="writing"}}

<article class="journal-entry">
  <h1 class="post-title">{{title}}</h1>

  <img src="{{image}}">
  <h2>
    <time class="post-date" datetime="{{date format="MMMM Do, YYYY"}}">{{date format="MMMM Do, YYYY"}}</time>
  </h2>


  {{content}}

</article>


{{/has}}


{{#has tag="pastwork"}}
<article>
  <h1>{{title}}</h1>

  <img src="{{image}}">
  <h2>
    <time class="post-date" datetime="{{date format="MMMM Do, YYYY"}}">{{date format="MMMM Do, YYYY"}}</time>
  </h2>


  {{content}}

</article>
{{/has}



{{/post}}
